#message-container {
    width: 400px;
    height: 500px;
    border: 2px solid grey;
}

#mainContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 9fr 1fr;
	justify-items: center;
	grid-row-gap: 20px;
}